.main-content-el{
    background-color: #d8d8d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1200px;
    color: #363636;
}
.logo-image{
    margin-top: 100px;
}
.calc-btn{
    margin-top: 40px;
    width: 15vw;
    height: 90.6px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(90deg, rgba(49,198,54,1) 56%, rgba(25,116,19,1) 100%);
    font-weight: 700;
    font-size: 16px;
    color: white;
}
button:hover{
    cursor: pointer;
}
input:hover{
    cursor: pointer;
}

.header-with-text{
    width: 80vw;
    margin: 40px 0px;
}

.header-text{
    /*for questioncontainer.jsx*/
    width: 40vw;
    margin: 60px 0px;
}

.question{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-ans-for-question{
    width: 30vw;
}

.ai-recs{
    margin-top: 50px;
    width: 70vw;
}
.header{
    margin-top: 30px;
}

.output-content-el{
    background-color: #d8d8d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    color: #363636;
}
.question-content-el{
    background-color: #d8d8d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1400px;
    color: #363636;
}
.img-about-carbon{
    margin: 50px;
}
.submit-btn{
    transform: translateX(327px);
}
.paragraph{
    width: 65vw;
}
.carbon-content-el{
    background-color: #d8d8d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    color: #363636;
}